html {
  background-color: rgb(216, 216, 216);
  height: 100%;
}

.App {

  
  height: 100%;
  width: 100%;
}

.container {

  left: 0%;
  height: 100%;
}

.default-toggle-button {
  width: 44px;
  height: 20px;
  position: absolute;
  left: 208px;
  top: 60px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border: 1px solid rgba(255, 0, 0, 0);
  transform: rotate(90deg);

}
.search-icon{
 color:#757575;

}
.search-icon-position{
  position: absolute;
  top: 2%;
  left: 87%;
  z-index: 1;
}
.toggle-button {
  width: 44px;
  height: 20px;
  position: absolute;
  left: 188px;
  top: 60px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border: 1px solid rgba(255, 0, 0, 0);
  transform: rotate(90deg);

}

.default {
  position: absolute;
  left: 90%;
}

.default-container {

  background-color: rgba(38, 38, 53);
  position: absolute;
  height: 100%;
  top: 0%;
  z-index: 1;
  width: 105px;
  padding-right: 115px;
  text-align: center;
  font-size: 16px;
  left: 0px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.123);

}


.button-default:hover {
  background-color: rgba(137, 43, 226, 0.192);
  color: white;
  border-radius: 5%;
}

ul {
  list-style-type: none;


}

li {
  margin-bottom: 5px;
}



.container-menu>ul {
  padding: 3%;
  margin-right: 7px;
  position: absolute;
  left: 0%;
  top: 25%
}

.default-container-menu>ul {
  padding: 3%;
  margin-right: 7px;
  position: absolute;
  left: 49%;
  top: 25%
}
.projects-container{

  position: absolute; 
  background-color: rgb(219, 19, 19);
  width: 100%;
  height: 100%;

  top: 14%;

}
.container-menu a>li {
  margin-top: 20px;
  font-size: 20px;

}

.default-title {
  color: #ffffff;
  font-family: Garamond;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  top: 5%;
  width: 38%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  padding: 3%;
  margin-left: 5px;
  position: absolute;
  left: 50%;
}

.title {

  font-family: Garamond;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  top: 1%;
  width: 88%;
  height: 50px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  padding: 3%;
  margin-left: 5px;
  position: absolute;
  left: 0%;
}

.container-menu {

  position: absolute;
  height: 100%;
  width: 200px;
  padding: 0px;
  text-align: center;
  font-size: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.123);
  transform: translateX(-100%);
}

.Profile {
  background-color: rgb(56 56 75);
  border-radius: 5%;
  font-size: 15px;
  top: 15%;
  width: 88%;
  height: 50px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  padding: 3%;
  margin-left: 5px;
  position: absolute;
  left: 0%;

}

.default-Profile {

  width: 44%;
  border-radius: 5%;

  font-size: 15px;
  top: 15%;
  height: 68px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  padding: 3%;
  margin-left: 5px;
  position: absolute;
  left: 48%;

}

.container-menu-color {
  background-color: rgba(38, 38, 53);
  color: rgb(255, 255, 255);
  text-align: center;

}

.default-img-profile {

  border: solid 0.001px rgba(255, 255, 255, 0.11);
  width: 60%;
  height: 90%;

  border-radius: 100%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.123);
  left: 0px;
}

.img-profile {
  border: solid 0.001px rgba(255, 255, 255, 0.11);
  width: 30%;
  height: 90%;
  position: absolute;
  border-radius: 100%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.123);
}

.container-menu-center {

  left: 0%;
  top: 0%;
}

a {
  text-decoration: none;
}

.list {
  box-shadow: 0px 1px rgba(255, 255, 255, 0.123);
  width: 180px;
  height: 50px;
  display: flex;
  flex-direction: column-reverse;

  align-content: space-around;
  justify-content: space-around;
}

.default-list {
  box-shadow: 0px 1px rgba(255, 255, 255, 0.123);
  width: 100px;
  height: 50px;
  display: flex;
  flex-direction: column-reverse;

  align-content: space-around;
  justify-content: space-around;
}

.list:hover {

  background-color: rgb(60, 60, 83);
  cursor: pointer;

  text-align: center;
  border-radius: 2%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.123);
}

.default-list:hover {

  background-color: rgb(60, 60, 83);
  cursor: pointer;

  text-align: center;
  border-radius: 2%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.123);
}

.conatiner-header {
  position: fixed;
  background-color: rgb(38, 38, 53);
  width: 100%;
  height: 50px;


}

.header-horizontal-item {
  position: fixed;
  display: flex;
  width: 100%;
}

.header-horizontal-item>li {
  color: #f1f1f1;
  margin-right: 20px;

}

.header-horizontal-item>li :hover {

  color: rgb(22, 101, 219);
}

.header-vertical-item {

  position: relative;
  width: 100%;
  height: auto;
  top: 20%;
  left: 0px;
  padding: 5px;

  display: none;

}

a>li {
  color: #f1f1f1;
  text-align: center;

}

.header-vertical-item>li>a {

  cursor: pointer;
  text-align: center;

}


.header-vertical-item>li:hover,
.header-horizontal-item>li:hover .header-vertical-item {
  background-color: #26282F;


  color: #ffffff;
  border-radius: 6%;
  display: block;
}

.header-vertical-item>a>li :hover {

  color: #5468ff;
  ;
}

.special {
  height: 40px;
  cursor: pointer;
}

.special:hover {
  color: rgb(201, 176, 226);
}


